<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <!-- 기본 css  -->
    <link rel="stylesheet" href="../../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../../static/assets/css/reset.css">
    <link rel="stylesheet" href="../../static/assets/css/sytle.css">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="../../static/assets/css/section/find_password.css">

    <title>기로프-비밀번호 재설정</title>
</head>

<body>
    <div class="modify_password container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="../login.html">
                        <img src="../../static/assets/img/back.svg" alt="backbtn">
                    </a>
                </button>
                <h1>비밀번호 재설정</h1>
            </div>
            <div class="bottom">
                <h3>새로운 비밀번호를 입력해주세요.</h3>
            </div>
        </div>
        <div class="main">
            <form action="./modify_Ok.html" onsubmit="return checkInput()">
                <div>
                    <label name="userId">아이디</label>
                    <input class="putuserId" type="text" placeholder="아이디를 입력해주세요.">
                </div>
                <div class="userPass">
                    <label name="userpassword">새 비밀번호</label>
                    <div>
                        <input class="putuserpass" type="password" placeholder="8자 이상">
                        <div class="box">
                            <button class="delete" type="button" onclick="deletePass()"><img
                                    src="../../static/assets/img/deletebtn.svg" alt="password_delete"></button>
                            <button class="show" type="button" onclick="showPass()"><img id="togglePassImg"
                                    src="../../static/assets/img/password.svg" alt="password_show"></button>
                        </div>
                    </div>
                </div>
                <div class="userPass userpassRe">
                    <label name="userpasswordre">새 비밀번호 확인</label>
                    <div>
                        <input class="putuserpassre" type="password" placeholder="비밀번호를 한 번 더 입력해주세요.">
                        <p style="color: red;" class="wrongMsg"></p>
                        <div class="box">
                            <button class="delete" type="button" onclick="deletePassRe()"><img
                                    src="../../static/assets/img/deletebtn.svg" alt="password_delete"></button>
                            <button class="show" type="button" onclick="showPassRe()"><img id="togglePassReImg"
                                    src="../../static/assets/img/password.svg" alt="password_show"></button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="ModifyButton">비밀번호 재설정</button>
            </form>
        </div>
    </div>

    <script src="../../static/js/modify_password.js"></script>
</body>

</html>