<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <!-- 기본 css  -->
    <link rel="stylesheet" href="../../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../../static/assets/css/reset.css">
    <link rel="stylesheet" href="../../static/assets/css/sytle.css">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="../../static/assets/css/section/find_password.css">

    <title>기로프-비밀번호 재설정</title>
</head>

<body>
    <div class="modify_password container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="/">
                        <img src="../../static/assets/img/back.svg" alt="backbtn">
                    </a>
                </button>
                <h1>비밀번호 재설정</h1>
            </div>
            <div class="bottom">
                <h3>새로운 비밀번호를 입력해주세요.</h3>
            </div>
        </div>
        <div class="main">
            <form action="./modify_Ok.html">
                <div>
                    <label name="userId">아이디</label>
                    <input class="putuserId" type="text" placeholder="아이디를 입력해주세요.">
                </div>
                <div class="userPass">
                    <label name="userpassword">새 비밀번호</label>
                    <div>
                        <input class="putuserpass" type="text" placeholder="8자 이상">
                        <div class="box">
                            <button class="delete" type="button"><img src="../../static/assets/img/deletebtn.svg"
                                    alt="password_delete"></button>
                            <button class="show" type="button"><img src="../../static/assets/img/password.svg"
                                    alt="password_show"></button>
                        </div>
                    </div>
                </div>
                <div class="userPass userpassRe">
                    <label name="userpasswordre">새 비밀번호 확인</label>
                    <div>
                        <input class="putuserpassre" type="text" placeholder="비밀번호를 한 번 더 입력해주세요.">
                        <div class="box">
                            <button class="delete" type="button"><img src="../../static/assets/img/deletebtn.svg"
                                    alt="password_delete"></button>
                            <button class="show" type="button"><img src="../../static/assets/img/password.svg"
                                    alt="password_show"></button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="ModifyButton">비밀번호 재설정</button>
            </form>
        </div>
    </div>

    <script>
        const userId = document.querySelector('.putuserId');
        const userPass = document.querySelector('.putuserpass');
        const userPassRe = document.querySelector('.putuserpassre');
        const ModifyButton = document.querySelector('.ModifyButton');
    
        const checkAllFull = () => {
            if (userId.value !== '' && userPass.value !== '' && userPassRe.value !== '') {
                ModifyButton.classList.add('full');
            } else {
                ModifyButton.classList.remove('full');
            }
        };
    
        userId.addEventListener('input', checkAllFull);
        userPass.addEventListener('input', checkAllFull);
        userPassRe.addEventListener('input', checkAllFull);
    </script>
</body>

</html>