<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../static/assets/css/reset.css">
    <link rel="stylesheet" href="../static/assets/css/sytle.css">
    <link rel="stylesheet" href="../static/assets/css/section/agree.css">
    <title>기로프</title>
</head>
<body>
    <div class="agree_wrap container">
    </div>
</body>
</html>