<!-- 팝업창 -->
<div class="popup_wrap none">
    <div class="popup">
        <div class="first">
            <img src="./static/assets/img/mainpopup.png" alt="">
            <h3>팀 만들기</h3>
            <p>
                팀을 자유롭게 만들어 일을 더욱<br />
                효율적으로 관리해보세요!
            </p>
            <div class="btn_box">
                <button class="no" onclick="noPop()">취소</button>
                <button class="craetebtn" onclick="teamName()">추가</button>
            </div>
        </div>
        <div class="second none">
            <h3>팀명</h3>
            <input type="text" placeholder="Untitled">
            <div class="btn_box">
                <button class="no" onclick="noPop()">취소</button>
                <button class="craetebtn" onclick="addFriend()">다음</button>
            </div>
        </div>
        <div class="third none">
            <h3>Untitled</h3>
            <div class="team_list">
                <div>
                    <img src="./static/assets/img/profile.png" alt="profile">
                    <p>rlfhvm (나)</p>
                </div>
                <div>
                    <img src="./static/assets/img/profile.png" alt="profile">
                    <p>rlfhvm (나)</p>
                </div>
                <div>
                    <img src="./static/assets/img/profile.png" alt="profile">
                    <p>rlfhvm (나)</p>
                </div>
                <div>
                    <img src="./static/assets/img/profile.png" alt="profile">
                    <p>rlfhvm (나)</p>
                </div>
                <div>
                    <img src="./static/assets/img/profile.png" alt="profile">
                    <p>rlfhvm (나)</p>
                </div>
            </div>
            <div class="btn_box">
                <button class="no" onclick="noPop()">취소</button>
                <button class="craetebtn">완료</button>
            </div>
        </div>
    </div>
</div>

<!-- 친구 추가창 -->
<div class="add_team none">
    <div class="search">
        <input type="text" placeholder="아이디로 검색하기">
        <button><img src="./static/assets/img/search.svg" alt="search"></button>
    </div>
    <div class="plus_friend">
        <div>
            <p>person6</p>
            <button><img src="./static/assets/img/deletebtn_white.svg" alt="delete"></button>
        </div>
    </div>
    <div class="list_wrap">
        <div class="list">
            <p>rlfhvm</p>
            <button><img src="./static/assets/img/profilebtn.svg" alt=""></button>
        </div>
        <div class="list">
            <p>rlfhvm</p>
            <button><img src="./static/assets/img/profilebtn.svg" alt=""></button>
        </div>
        <div class="list">
            <p>rlfhvm</p>
            <button><img src="./static/assets/img/profilebtn.svg" alt=""></button>
        </div>
        <div class="list">
            <p>rlfhvm</p>
            <button><img src="./static/assets/img/profilebtn.svg" alt=""></button>
        </div>
        <div class="list">
            <p>rlfhvm</p>
            <button><img src="./static/assets/img/profilebtn.svg" alt=""></button>
        </div>
        <div class="list">
            <p>rlfhvm</p>
            <button><img src="./static/assets/img/profilebtn.svg" alt=""></button>
        </div>
        <div class="list">
            <p>rlfhvm</p>
            <button><img src="./static/assets/img/profilebtn.svg" alt=""></button>
        </div>
    </div>
</div>