<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../static/assets/css/reset.css">
    <link rel="stylesheet" href="../static/assets/css/sytle.css">
    <link rel="stylesheet" href="../static/assets/css/section/join.css">
    <title>기로프</title>
</head>
    <body>
        <div class="join_wrap container">
            <div class="header">
                <div class="top">
                    <button class="backbtn">
                        <a href="/">
                            <img src="../static/assets/img/back.svg" alt="backbtn">
                        </a>
                    </button>
                    <h1>회원가입</h1>
                </div>
            </div>
        </div>
    </body>
</html>