<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 차트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- 기본 css  -->
    <link rel="stylesheet" href="../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../static/assets/css/reset.css">
    <link rel="stylesheet" href="../static/assets/css/sytle.css">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="../static/assets/css/section/mypage.css">

    <title>기로프-마이페이지</title>
</head>

<body>
    <div class="mypage_wrap container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="/">
                        <img src="../static/assets/img/back.svg" alt="backbtn">
                    </a>
                </button>
                <h1>마이페이지</h1>
            </div>
            <p>
                안녕하세요, <em>홍길동(rlfhvm)</em>님! <br />
                기로프로 더욱 편하게 <br />
                팀원들과 할 일을 한 눈에 확인해보세요. <br />
            </p>
        </div>
        <div class="modify_btn">
            <a href="./userinfo_modify.html"><button class="userinfo">회원정보 수정</button></a>
            <button>로그아웃</button>
        </div>
        <div class="mypage_list_wrap">
            <h3><em>홍길동(rlfhvm)</em>님의 팀 목록</h3>
            <div class="mypage_list">
                <div class="list">
                    <h4>여기톤10조</h4>
                    <div class="team_info">
                        <div class="team_img">
                            <img src="../static/assets/img/profile.png" alt="">
                        </div>
                        <div class="graph">
                            <canvas id="doughnut-chart-1"></canvas>
                        </div>
                        <div class="info">
                            <p class="day">24.06.20</p>
                            <p class="percent">50%</p>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <h4>여기톤10조</h4>
                    <div class="team_info">
                        <div class="team_img">
                            <img src="../static/assets/img/profile.png" alt="">
                        </div>
                        <div class="graph">
                            <canvas id="doughnut-chart-2"></canvas>
                        </div>
                        <div class="info">
                            <p class="day">24.06.20</p>
                            <p class="percent">50%</p>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <h4>여기톤10조</h4>
                    <div class="team_info">
                        <div class="team_img">
                            <img src="../static/assets/img/profile.png" alt="">
                        </div>
                        <div class="graph">
                            <canvas id="doughnut-chart-3"></canvas>
                        </div>
                        <div class="info">
                            <p class="day">24.06.20</p>
                            <p class="percent">50%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/chart.js"></script>
</body>

</html>