<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 기본 css  -->
    <link rel="stylesheet" href="../../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../../static/assets/css/reset.css">
    <link rel="stylesheet" href="../../static/assets/css/sytle.css">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="../../static/assets/css/section/team_member.css">

    <title>기로프-팀원 수정</title>
</head>

<body>
    <div class="team_memberwrap container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="./team.html">
                        <img src="../../static/assets/img/back.svg" alt="backbtn">
                    </a>
                </button>
                <h1>팀원</h1>
            </div>
        </div>
        <div class="add_team">
            <div class="plus_friend">
                <div>
                    <p>person6</p>
                    <button><img src="../../static/assets/img/deletebtn_white.svg" alt="delete"></button>
                </div>
            </div>
            <div class="list_wrap">
                <div class="list">
                    <p>rlfhvm</p>
                    <button><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                </div>
                <div class="list">
                    <p>rlfhvm</p>
                    <button><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                </div>
                <div class="list">
                    <p>rlfhvm</p>
                    <button><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                </div>
                <div class="list">
                    <p>rlfhvm</p>
                    <button><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                </div>
                <div class="list">
                    <p>rlfhvm</p>
                    <button><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                </div>
                <div class="list">
                    <p>rlfhvm</p>
                    <button><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                </div>
                <div class="list">
                    <p>rlfhvm</p>
                    <button><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                </div>
                <div class="list">
                    <p>rlfhvm</p>
                    <button><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                </div>
                <div class="list">
                    <p>rlfhvm</p>
                    <button><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>