<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 차트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- 기본 css  -->
    <link rel="stylesheet" href="../../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../../static/assets/css/reset.css">
    <link rel="stylesheet" href="../../static/assets/css/sytle.css">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="../../static/assets/css/section/team.css">

    <title>기로프-팀</title>
</head>

<body>
    <div class="team_wrap container">
        <div class="header">
            <button class="pin"><img class="pinimg" src="../../static/assets/img/pin.svg" alt="pin"></button>
            <h2>Untitled</h2>
            <a href="/"><img class="ximg" src="../../static/assets/img/ximg.svg" alt="down_pop"></a>
        </div>
        <div class="team_member">
            <div class="team_header">
                <h3>팀원</h3>
                <button class="modify" onclick="findFriend();"><img src="../../static/assets/img/modify.svg"
                        alt="modify"></button>
            </div>
            <div class="team_list">
                <div class="profile">
                    <div>
                        <img src="../../static/assets/img/profile.png" alt="profile">
                        <p>rlfhvm</p>
                    </div>
                </div>
                <div class="profile">
                    <div>
                        <img src="../../static/assets/img/profile.png" alt="profile">
                        <p>rlfhvm</p>
                    </div>
                </div>
                <div class="profile">
                    <div>
                        <img src="../../static/assets/img/profile.png" alt="profile">
                        <p>rlfhvm</p>
                    </div>
                </div>
                <div class="profile">
                    <div>
                        <img src="../../static/assets/img/profile.png" alt="profile">
                        <p>rlfhvm</p>
                    </div>
                </div>
                <div class="profile">
                    <div>
                        <img src="../../static/assets/img/profile.png" alt="profile">
                        <p>rlfhvm</p>
                    </div>
                </div>
                <div class="profile">
                    <div>
                        <img src="../../static/assets/img/profile.png" alt="profile">
                        <p>rlfhvm</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="todo">
            <div class="todo_header">
                <h3>할일</h3>
                <button class="modify" onclick="modifyTodo()"><img src="../../static/assets/img/modify.svg" alt="modify"></button>
            </div>
            <div class="todo_list">
                <div class="nothing">
                    <img src="../../static/assets/img/no_todo.png" alt="bin">
                    <p>아직 작성된 할 일이 없어요</p>
                </div>
            </div>
            <div class="graph">
                <canvas id="doughnut-chart"></canvas>
                <p>00%</p>
            </div>
        </div>

        <!-- 팀원 수정 -->
        <div class="add_team none">
            <div class="search">
                <input type="text" placeholder="아이디로 검색하기">
                <button><img src="../../static/assets/img/search.svg" alt="search"></button>
            </div>
            <div class="plus_friend">
                <div>
                    <p>person6</p>
                    <button><img src="../../static/assets/img/deletebtn_white.svg" alt="delete"></button>
                </div>
                <div>
                    <p>person6</p>
                    <button><img src="../../static/assets/img/deletebtn_white.svg" alt="delete"></button>
                </div>
                <div>
                    <p>person6</p>
                    <button><img src="../../static/assets/img/deletebtn_white.svg" alt="delete"></button>
                </div>
                <div>
                    <p>person6</p>
                    <button><img src="../../static/assets/img/deletebtn_white.svg" alt="delete"></button>
                </div>
                <div>
                    <p>person6</p>
                    <button><img src="../../static/assets/img/deletebtn_white.svg" alt="delete"></button>
                </div>
            </div>
        </div>

        <!-- 할일 추가 및 수정 -->
        <div class="todo_modify none">
            <div class="search">
                <input type="text" placeholder="할 일을 입력해주세요.">
                <button><img src="../../static/assets/img/plus_samll.svg" alt="search"></button>
            </div>
            <div class="todo_modifylist">
                <div class="modify_list">
                    <p>컷편집하기</p>
                    <button><img src="../../static/assets/img/deletebtn_white.svg" alt="delete">
                </div>
                <div class="modify_list">
                    <p>배경음악 서치, 다운로드</p>
                    <button><img src="../../static/assets/img/deletebtn_white.svg" alt="delete">
                </div>
            </div>
        </div>
    </div>

    <script src="../../static/js/team.js"></script>
    <script src="../../static/js/chart.js"></script>
</body>

</html>