<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <!-- 기본 css  -->
    <link rel="stylesheet" href="../../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../../static/assets/css/reset.css">
    <link rel="stylesheet" href="../../static/assets/css/sytle.css">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="../../static/assets/css/section/team_made.css">

    <title>기로프-팀만들기</title>
</head>
<body>
    <div class="team_made container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="/">
                        <img src="../../static/assets/img/back.svg" alt="backbtn">
                    </a>
                </button>
                <h1>팀 생성</h1>
            </div>
        </div>
        <div class="main">
            <form action="">
                <div class="team_title">
                    <label for="title">팀 이름</label>
                    <input type="text" class="title_input" placeholder="Unititeld">
                </div>
                <div class="profile">
                    <label for="team_img">팀 이미지</label>
                    <div>
                        <img src="../../static/assets/img/team_img.png" alt="profile" class="profileimg" id="profileImg">
                        <button type="button" class="profilebtn-wrapper">
                            <input class="profilebtn" type="file" id="profileInput">
                            <label for="profileInput"></label>
                        </button>
                    </div>
                </div>
                <div class="team_memeber">
                    <label for="member">팀원</label>
                    <div class="list_wrap">
                        <div class="list">
                            <p>admin</p>
                            <button type="button"><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                        </div>
                        <div class="list">
                            <p>admin</p>
                            <button type="button"><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                        </div>
                        <div class="list">
                            <p>admin</p>
                            <button type="button"><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                        </div>
                        <div class="list">
                            <p>admin</p>
                            <button type="button"><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                        </div>
                        <div class="list">
                            <p>admin</p>
                            <button type="button"><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                        </div>
                        <div class="list">
                            <p>admin</p>
                            <button type="button"><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                        </div>
                        <div class="list">
                            <p>admin</p>
                            <button type="button"><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                        </div>
                        <div class="list">
                            <p>admin</p>
                            <button type="button"><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                        </div>
                        <div class="list">
                            <p>admin</p>
                            <button type="button"><img src="../../static/assets/img/profilebtn.svg" alt=""></button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="submit_btn">생성</button>
            </form>
        </div>
    </div>

    <script>
        const TeamName = document.querySelector('.title_input');
        const SubmitBtn = document.querySelector('.submit_btn');

        TeamName.addEventListener('input', () => {
            if(TeamName.value !== ''){
                SubmitBtn.classList.add('full');
            } else {
                SubmitBtn.classList.remove('full');
            }
        })
    </script>
    <script src="../../static/js/userinfo_modify.js"></script>

</body>
</html>