<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 기본 css  -->
    <link rel="stylesheet" href="../../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../../static/assets/css/reset.css">
    <link rel="stylesheet" href="../../static/assets/css/sytle.css">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="../../static/assets/css/section/team_member.css">

    <title>기로프-팀원 수정</title>
</head>

<body>
    <div class="team_memberwrap container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="./team.html">
                        <img src="../../static/assets/img/back.svg" alt="backbtn">
                    </a>
                </button>
                <h1>팀원</h1>
            </div>
        </div>
        <div class="add_team">
            <div class="plus_friend">
                <h3>현재 우리 팀원</h3>
                <div class="person_wrap">
                    <div>
                        <p>person6</p>
                    </div>
                    <div>
                        <p>person6</p>
                    </div>
                    <div>
                        <p>person6</p>
                    </div>
                    <div>
                        <p>person6</p>
                    </div>
                    <div>
                        <p>person6</p>
                    </div>
                    <div>
                        <p>person6</p>
                    </div>
                </div>
            </div>
            <form action="">
                <div class="list_wrap">
                    <div class="checkbox-item">
                        <input type="checkbox" id="admin" checked>
                        <label for="admin">admin</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-1">
                        <label for="last01-1">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-2">
                        <label for="last01-2">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-3">
                        <label for="last01-3">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-4">
                        <label for="last01-4">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-5">
                        <label for="last01-5">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-6">
                        <label for="last01-6">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-7">
                        <label for="last01-7">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-8">
                        <label for="last01-8">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-9">
                        <label for="last01-9">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-10">
                        <label for="last01-10">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-11">
                        <label for="last01-11">last01</label>
                    </div>
                    <div class="checkbox-item">
                        <input type="checkbox" id="last01-12">
                        <label for="last01-12">last01</label>
                    </div>
                </div>
                <button type="submit">저장</button>
            </form>
        </div>
    </div>
</body>

</html>