/* header  */
.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid #d0d0d0;
}

.header img {
    width: 25px;
}

.header .pinimg {
    width: 28px;
    margin-left: 10px;
}

.header .ximg {
    margin-left: 5px;
    width: 28px;
}

.header h2 {
    font-size: 24px;
    font-weight: 600;
    color: var(--main);
}

.header a {
    display: flex;
}

/* member */
.team_member {}

.team_header {
    display: flex;
    justify-content: space-between;
}

.team_header h3 {
    padding: 15px 10px;
    font-weight: 500;
    font-size: 24px;
}

.team_header img {
    width: 24px;
}

.team_list {
    width: 380px;
    overflow: auto;
    white-space: nowrap;
    padding-bottom: 10px;
}

.team_list::-webkit-scrollbar {
    display: none;
    width: 10px;
    height: 5px;
}

.team_list::-webkit-scrollbar-thumb {
    height: 30%;
    background: var(--main);
    border-radius: 10px;
}

.team_list::-webkit-scrollbar-track {
    background: rgba(167, 162, 162, 0.1);
}

.team_list>div {
    display: inline-block;
}

.team_list>div>div {
    width: 103px;
    height: 112px;
    box-shadow: 0px 0px 10px 0px #00000019;
    border-radius: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.team_list>div img {
    width: 47px;
    height: 47px;
    margin-bottom: 10px;
}

.modify {
    display: flex;
    align-items: center;
}

.todo_header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 20px 10px;
}

.todo_header h3 {
    font-size: 24px;
}

.todo_header img {
    width: 25px;
    height: 25px;
}

.todo_no {
    box-shadow: 0px 0px 10px 0px #00000019;
    height: 156px;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.todo_no .nothing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.todo_no .nothing img {
    width: 76px;
    height: 76px;
    margin-bottom: 10px;
}

.todo_no .nothing p {
    font-size: 18px;
}

.todo_list {
    height: 200px;
    padding: 0 8px;
    margin-bottom: 40px;
    overflow-y: scroll;
    overflow: auto;
}

.todo_list::-webkit-scrollbar {
    width: 6px;
}

.todo_list::-webkit-scrollbar-thumb {
    height: 30%;
    background: var(--main);
    border-radius: 10px;
}

.todo_list::-webkit-scrollbar-track {
    background: rgba(167, 162, 162, 0.1);
}

.todo_list>div {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 0px #00000020;
    padding: 10px 20px;
    margin: 10px 2px 15px;
    border-radius: 20px;
    font-size: 18px;
}



.todo_list>div.todo_no {
    justify-content: center;
}

.todo_list>div .box {
    display: flex;
    align-items: center;

}

.todo_list>div .box .modify {
    width: 19px;
    height: 19px;
    margin-right: 10px;
}

.todo_list>div .box .delete {
    width: 16px;
    height: 16px;
}

.team_wrap {
    position: relative;
}

.graph {
    bottom: 35px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.graph p {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
}

iframe {
    display: none !important;
}

.graph canvas {
    width: 200px !important;
    height: 200px !important;
}

/* todo_modify */

.todo_modify {
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 20;
    background-color: var(--white);
    width: 430px;
    height: 580px;
    transform: translateX(-50%);
    padding: 20px 30px 20px;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px -10px 14.5px 0px #00000025;
}

.todo_modifylist>div {
    display: flex;
    justify-content: space-between;
    padding: 15px 10px;
    border-bottom: 1px solid #d0d0d0;
}

.todo_modifylist>div p {
    color: #555;
    font-size: 20px;
}

.todo_modifylist>div img {
    width: 28px;
    height: 28px;
}