<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <!-- 기본 css  -->
    <link rel="stylesheet" href="../../static/assets/css/fonts.css">
    <link rel="stylesheet" href="../../static/assets/css/reset.css">
    <link rel="stylesheet" href="../../static/assets/css/sytle.css">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="../../static/assets/css/section/login.css">
    <title>기로프</title>
    
    <title>기로프-로그인</title>
</head>
<body>
    <div class="login_wrap container">
        <h1>기로프</h1>
        <form action="" name="login">
            <div class="userId">
                <label>아이디</label>
                <input type="text" id="userId">
            </div>
            <div class="userId">
                <label>비밀번호</label>
                <div>
                    <input type="password" id="userPassword">
                    <img src="../../static/assets/img/password.svg" alt="password">
                </div>
            </div>
            <button class="login_btn">로그인</button>
        </form>
        <div class="link">
            <a href="../join/join.html">회원가입</a>
            <div></div>
            <a href="./find_password.html">비밀번호 찾기</a>
        </div>
    </div>
</body>
</html>