:root {
    --main: #C22370;

    --black: #222;
    --gray: #808080;
    --white: #fefefe;

    --mainfont: 'Pretendard-Regular';
    letter-spacing: -1.5px;
}

body {
    font-family: var(--mainfont);
    background-color: var(--black);
}

.container {
    margin: 0 auto;
    height: 100vh;
    min-height: 890px;
    background-color: var(--white);
    width: 430px;
    padding: 70px 30px 0;
}

button {
    border: 0;
    cursor: pointer;
}

.none {
    display: none !important;
}