{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계정 첫 화면</title>
</head>
<body>
    <h1>계정 첫화면</h1>
     <!-- 회원가입 / 로그인 -->
     {% if user.is_authenticated %}
     <a href="{% url 'accounts:logout' %}">로그아웃</a></div>
     {% else %}
     <a href="{% url 'accounts:signup' %}">회원가입</a></div>
     <a href="{% url 'accounts:login' %}">로그인</a></div>
     {% endif %}
     <!--회원가입 / 로그인 끝-->

    <!--게시글 작성-->
    {% if user.is_authenticated %}
    <a href="{% url 'teams:team_create' %}">팀 생성</a>
    {%else %}
    <h4>팀 생성은 로그인 후 사용해주세요</h4>
    {% endif %}
    <!--게시글 작성 여기까지-->
</body>
</html>