{% load static %}


<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sytle.css' %}">

   <link rel="stylesheet" href="{% static 'assets/css/section/agree.css' %}?after">
    <title>기로프</title>
    <style>
        .text-container {
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px -3px 10.5px 0px #00000025;
            height: 340px;
            overflow-y: auto;
            border: black solid 1px;
        }
    </style>
</head>
<body>
    <div class="agree_wrap container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="javascript:history.back();">
                        <img src="{% static 'assets/img/back.svg' %}" alt="backbtn">
                    </a>
                </button>
                <h1>마케팅 정보 수신</h1>
            </div>
        </div>
        <div class="text-container">
            <div class="text-box">
                <p>1.개인정보의 수집, 이용 목적
                    <br />
                    - 기로프 사업 안내, 뉴스레터 발송, 맞춤형 서비스 권유
                    <br />
                    2.수집하는 개인정보의 항목
                    <br />
                    - 이름, 휴대전화, 이메일
                    <br />
                    3.개인정보의 보유 및 이용기간 :회원 탈퇴 시까지
                    <br />
                    ※ 단, 법률이 정하는 바에 따라 탈퇴 후에도 일정기간 보유할 수 있습니다.
                    <br />
                    4.개인정보의 마케팅 활용 동의를 거부하시더라도 회원 가입 시 제한은
                    없습니다. 다만, 마케팅 활용 서비스 안내 및 참여에 제한이 있을 수 있습니다.
                    <br />
                    ※ 기로프는 별도의 동의를 받거나 법률에 특별한 규정이 있는 경우를 제외하면
                    제3자에게 고객님의 개인정보를 제공하지 않으며, 상기 안내해드린 개인정보
                    수집 동의 범위를 초과하여 고객님의 개인정보를 활용하지 않습니다.
                    <br />
                    5. 개인정보 수집· 이용 거부권 및 불이익
                    <br />
                    - 이용자는 위의 개인정보 수집·이용에 대한 동의를 거부할 권리가 있습니다.
                    동의를 거부할 경우, 마케팅 정보 수신 서비스를 이용 하실 수 없습니다.
                    <br />
                </p>
            </div>
        </div>
    </div>
</body>
</html>