{% load static %}

<!-- 현재 사용 안하는 html   -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
</head>
<body>
    <h2>비밀번호 변경</h2>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>  <!-- 에러 메시지 출력 -->
    {% endif %}

    <form method="post">
    {% csrf_token %}
    {{ form.as_table }} 

    <button type="submit">비밀번호 변경하기</button>
</form>
</body>
</html>