{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <!-- 기본 css  -->
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sytle.css' %}">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="{% static 'assets/css/section/login.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/section/join.css' %}">
    <title>기로프</title>

    <title>기로프-회원가입</title>
</head>

<body>
    <div class="join_wrap container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="{% url 'accounts:login' %}">
                        <img src="{% static 'assets/img/back.svg' %}" alt="backbtn">
                    </a>
                </button>
                <h1>회원가입</h1>
            </div>
            <!-- 수정 필요!! -->
            <div class="profile">
                <img src="{% static 'assets/img/profile.png' %}" alt="profile" class="profileimg">
                {# {{ form.profile }} #}
                <label for="profile-input">
                <img src="{% static 'assets/img/profilebtn.svg' %}" alt="profilebtn" class="profilebtn">
                </label>
            </div>
        </div>
        <form action="" method="POST" enctype="multipart/form-data" name="login">
            {% csrf_token %}

            <!-- 회원가입 조건 미충족 시, 에러 메시지 출력 -->
            {% if error_message %}
                <p style="color: palevioletred;">{{ error_message }}</p> 
            {% endif %}
         
            <div class="userId">
                <label>아이디 *</label>
                {{ form.username }}
            </div>
            <div class="userEmail">
                <label>이메일 *</label>
                {{ form.email }}
            </div>
            <div class="userPass">
                <label>비밀번호 *</label>
                <div>
                    {{ form.password }}
                    <div class="box">
                        <button><img class="delete" src="{% static 'assets/img/deletebtn.svg' %}" alt="delete"></button>
                        <button><img src="{% static 'assets/img/password.svg' %}" alt="password"></button>
                    </div>
                </div>
            </div>
            <div class="userPassre">
                <label>비밀번호 확인 *</label>
                <div>
                    <input type="password" name="repeat" id="userPasswordre" placeholder="비밀번호를 한 번 더 입력해주세요.">
                    <div class="box">
                        <button><img class="delete" src="{% static 'assets/img/deletebtn.svg' %}" alt="delete"></button>
                        <button><img src="{% static 'assets/img/password.svg' %}" alt="password"></button>
                    </div>
                </div>
            </div>
            <div class="userName">
                <label>이름 *</label>
                {{ form.name }}
            </div>
            <div class="userPhone">
                <label>전화번호 *</label>
                {{ form.phone }}
            </div>
            <div class="userBirth">
                <label>생년월일</label>
                {{ form.birthdate }}
            </div>
            <div class="agree">
                <div class="checkbox-item">
                    <input type="checkbox" id="allAgree" class="join_check">
                    <label for="allAgree" class="allAgree">아래 약관에 모두 동의합니다.</label>
                </div>
                <div class="checkbox-item check_alone">
                    <input type="checkbox" id="termsAgree" class="join_check">
                    <label for="termsAgree">이용약관 필수 동의</label>
                    <a href="#">자세히보기</a>
                </div>
                <div class="checkbox-item check_alone">
                    <input type="checkbox" id="privacyAgree" class="join_check">
                    <label for="privacyAgree">개인정보 처리방침 필수 동의</label>
                    <a href="#">자세히보기</a>
                </div>
                <div class="checkbox-item check_alone">
                    <input type="checkbox" id="marketingAgree" class="join_check">
                    <label for="marketingAgree">마케팅 정보 수신 선택 동의</label>
                    <a href="#">자세히보기</a>
                </div>
            </div>
            <button class="joinbtn">다음</button>
        </form>
        </form>
    </div>

    <script src="{% static 'js/join.js' %}"></script>
</body>

</html>