{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 기본 css  -->
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sytle.css' %}">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="{% static 'assets/css/section/mypage.css' %}">
  

    <!-- 차트 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


    <title>기로프-마이페이지</title>
</head>

<body>
    <div class="mypage_wrap container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="{% url 'teams:team_list' %}">
                        <img src="{% static 'assets/img/back.svg' %}" alt="backbtn">
                    </a>
                </button>
                <h1>마이페이지</h1>
            </div>
            <div class="profile">
                <img src="{% static 'assets/img/profile.png' %}" alt="profile" class="profileimg">
                <!-- <img src="{% static 'assets/img/profile_modify.svg' %}" alt="profilebtn" class="profilebtn"> -->
            </div>
            <p>
                안녕하세요, <em>{{ user.name }}({{ user.username }})</em>님! <br />
                기로프로 더욱 편하게 <br />
                팀원들과 할 일을 한 눈에 확인해보세요. <br />
            </p>
        </div>
        <div class="modify_btn">
            <a href="{% url 'accounts:user_update' user.id %}">
                <button type="button">회원정보 수정</button>
            </a>
        </div>
        <div class="mypage_list_wrap">
            <h3><em>{{ user.name }}({{ user.username }})</em>님의 팀 목록</h3>
            {% for team in user.teams.all %}
            <a href="{% url 'teams:team_detail' team.id %}">
                <div class="mypage_list">
                    <div class="list">
                        <h4>{{ team.name }}</h4>
                        <div class="team_info">
                            <!-- <div class="member">
                                {% for member in team.members.all %}
                                    {{ member.username }}
                                {% endfor %}
                            </div> -->
                            <div class="graph">
                                <canvas id="doughnut-chart"></canvas>
                            </div>
                            <div class="info">
                                <p class="day">{{ team.created_at|date:"y.m.d" }}</p>
                                <p class="percent">50%</p>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
    
    <script src="{% static 'js/chart.js' %}"></script>
</body>

</html>