{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% if not form.username.value %} <!--아이디가 비어있을때는 회원가입 글씨-->
        <h1>회원가입</h1>
        {% else %} <!--아이디가 채워져있으면 회원 정보 수정 글씨-->
        <h1>회원 정보 수정</h1>
        {% endif %}

        <div>
            <label for="{{ form.profile.id_for_label }}">{{ form.profile.label }}</label>
            {{ form.profile }}
        </div>
        <div>
            <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
            {{ form.username }}
        </div>
        
        <div>
            <div>
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            {% if not form.username.value %}
            <div>
                비밀번호 재입력 <input type="password" name="repeat">
            </div>
            {% endif %}
        </div>
        <div>
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        <div>
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            {{ form.name }}
        </div>
        <div>
            <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>  <!--  {{ form.phone.id_for_label }} -> 이거는 id_phone -->
            {{ form.phone }}
        </div>
        <div>
            <label for="{{ form.birthdate.id_for_label }}">{{ form.birthdate.label }}</label>
            {{ form.birthdate }}
        </div>
        {% if not form.username.value %} <!--아이디가 비어있을때는 가입 버튼-->
        <input type="submit" value="가입하기">
        {% else %} <!--아이디가 채워져있으면 수정 버튼-->
        <input type="submit" value="수정하기">
        {% endif %}
       
    </form>
</body>
</html>