{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>할일 생성</title>
</head>
<body>
    <h2>할일 생성</h2>
    <form method="POST">
        {% csrf_token %}
        <label for="{{ form.title.id_for_label }}">할일 제목:</label><br>
        {{ form.title }}<br><br>

        <label for="{{ form.manager.id_for_label }}">담당자:</label><br>
            {{ form.manager }}<br><br>
    
            <label for="{{ form.deadline.id_for_label }}">마감일:</label><br>
            {{ form.deadline }}<br><br>
    
            <label for="{{ form.finished.id_for_label }}">완료 여부:</label><br>
            {{ form.finished }}<br><br>
    
            <button type="submit">저장</button>
        </form>
    
        {% if form.errors %}
            <p style="color: red;">{{ form.errors }}</p>
        {% endif %}
    </body>
    </html>
    