{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀 생성</title>
</head>
<body>
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {% if not form.name.value %}
        <h1>새 팀 생성 페이지</h1>
    {% else %}
        <h1>팀 수정 페이지</h1>
    {% endif %}

    <div>
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
    </div><br>
    <div>
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
        {{ form.description }}
    </div><br>
    <div>
        <label for="{{ form.members.id_for_label }}">{{ form.members.label }}</label>
        {{ form.members }}
    </div><br>
    <div>
        <label for="{{ form.photo.id_for_label }}">{{ form.photo.label }}</label>
        {{ form.photo }}
    </div><br>

    {% if not form.name.value %}
        <input type="submit" value="새 팀 생성하기">
    {% else %}
        <input type="submit" value="팀 수정하기">
    {% endif %}

    </form>
</body>
</html>