{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>팀 리스트</title>
</head>
<body>
    <h1>팀 리스트</h1>
    
    <div>
        <ul>
            {% for team in teams %}
                <li>
                    <a href="{% url 'teams:team_detail' team.id %}">Team Detail
                    <strong>팀 이름: {{ team.name }}</strong><br></a>
                    <p>팀 생성일: {{ team.created_at }}</p>
                    팀 생성자 : {{team.creater}}<br>
                    팀 설명: {{ team.description }}<br><br>
                    <strong>멤버:</strong>
                    <ul>
                        {% for member in team.members.all %}
                            <li>{{ member.username }}</li>
                        {% endfor %}
                    </ul>
                </li><hr>
            {% endfor %}
        </ul>
      <!-- 페이지네이션 -->
      <div>
        {% if teams.has_previous %} <!--지금 잘라서 보여주는 teams의 목록이 이전 페이지가 있다면-->
        <a href="?page=1">첫 페이지</a>
        <a href="?page={{teams.previous_page_number}}">이전 페이지</a> <!--teams의 이전 페이지 숫자를 반환해라-->
        {% endif %}

        <span> {{ teams.number }} </span> <!--현재 페이지 넘버-->
        <span> / </span>
        <span> {{ teams.paginator.num_pages }} </span> <!--잘린 posts가 갖고 있는 총 페이지 수 반환-->

        {% if teams.has_next %} <!--다음 페이지가 있다면-->
        <a href="?page={{teams.next_page_number}}">다음 페이지</a>
        <a href="?page={{teams.paginator.num_pages}}">마지막 페이지</a>
        {% endif %}
      </div>
      <!-- 페이지네이션 끝 --> 
    </div>

    <br>
    <!-- 회원가입 / 로그인 -->
    {% if user.is_authenticated %} <!--로그인시-->
    <a href="{% url 'teams:team_create' %}">새 팀 생성</a><br>
    <a href="{% url 'accounts:user_update' user.id %}">회원 정보 수정</a><br>
    <a href="{% url 'accounts:my_page' user.id %}">마이페이지</a></div><br>
    {% endif %}
     <!--회원가입 / 로그인 끝-->
     
     <br>
     <a href="{% url 'accounts:base' %}">메인페이지</a><br>
</body>
</html>