{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <!-- 기본 css  -->
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sytle.css' %}">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="{% static 'assets/css/section/find_password.css' %}">

    <title>기로프-비밀번호찾기</title>
</head>

<body>
    <div class="find_passOKwrap container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="{% url 'accounts:login' %}">
                        <img src="{% static 'assets/img/back.svg' %}" alt="backbtn">
                    </a>
                </button>
                <h1>비밀번호 찾기</h1>
            </div>
            <div class="bottom">
                <h3>비밀번호 초기화 인증메일 전송 완료</h3>
            </div>
        </div>
        <div class="main">
            <h3>
                비밀번호 재설정 지침을<br />
                입력하신 이메일로 <em>전송 완료</em>했습니다.
            </h3>
            <img src="{% static 'assets/img/find_passwordimg.png' %}" alt="send_email">
            <p>
                이메일을 받지 못한 경우 입력하신 주소가<br />
                맞는지 한 번 더 확인해주시고, 스팸 폴더를<br />
                확인해주세요.
            </p>
        </div>
        <!-- <button><a href="modify_password.html">재설정페이지</a></button> -->
    </div>
</body>

</html>