{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <!-- 기본 css  -->
    <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/sytle.css' %}">

    <!-- main 페이지 css -->
    <link rel="stylesheet" href="{% static 'assets/css/section/find_password.css' %}">
    <title>기로프-비밀번호찾기</title>
</head>

<body>
    <div class="find_passwrap container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="{% url 'accounts:login' %}">
                        <img src="{% static 'assets/img/back.svg' %}" alt="backbtn">
                    </a>
                </button>
                <h1>비밀번호 찾기</h1>
            </div>
            <div class="bottom">
                <h3>비밀번호를 잊어버리셨나요?</h3>
                <p>
                    비밀번호 초기화 메일을 받을 메일 주소를<br />
                    아래에 입력해주세요.
                </p>
            </div>
        </div>
        <div class="main">
            <form method="POST" name="find_password" onsubmit="return validateForm()">
                <label for="" class="none"></label>
                {% csrf_token %}
                {{ form.email }}
            <!-- <form action="./find_passwordOk.html" name="find_password" onsubmit="return validateForm()"> -->
                <!-- <input type="text" placeholder="rlfhvm@gmail.com" class="input_password"> -->
                <button type="submit" class="passPassword">초기화 메일 전송받기</button>
            </form>
        </div>
    </div>

    <script>
        const InputPassword = document.querySelector('.input_password');
        const PassPassword = document.querySelector('.passPassword');

        InputPassword.addEventListener('input', () => {
            if (InputPassword.value !== '') {
                PassPassword.classList.add('full');
            } else {
                PassPassword.classList.remove('full');
            }
        });

        function validateForm() {
            if (InputPassword.value === '') {
                alert('이메일을 입력해주세요!');
                return false;
            }
            return true;
        }
    </script>
</body>

</html>