{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
   <!-- 기본 css  -->
   <link rel="stylesheet" href="{% static 'assets/css/fonts.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/reset.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/sytle.css' %}">

   <!-- main 페이지 css -->
   <link rel="stylesheet" href="{% static 'assets/css/section/find_password.css' %}">

    <title>기로프-비밀번호 재설정 성공</title>
</head>

<body>
    <div class="modify_okwrap container">
        <div class="header">
            <div class="top">
                <button class="backbtn">
                    <a href="{% url 'accounts:login' %}">
                        <img src="{% static 'assets/img/back.svg' %}" alt="backbtn">
                    </a>
                </button>
                <h1>비밀번호 재설정</h1>
            </div>
            <div class="bottom">
                <h3>비밀번호 재설정 완료</h3>
                <p>
                    비밀번호가 재설정되었습니다.<br />
                    다시 로그인해주세요.
                </p>
            </div>
        </div>
        <div class="main">
            <img src="{% static 'assets/img/modify_ok.png' %}" alt="">
            <a href="{% url 'accounts:login' %}"><button>로그인 하러 가기</button></a>
        </div>
    </div>
</body>

</html>