
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
</head>
<body>
    <h1>새로운 비밀번호를 입력하세요.</h1>
    <p>새로 설정할 비밀번호를 아래에 입력해주세요.</p>

    <form method="POST">
    {% csrf_token %}
    아이디: {{ form.user.get_username }} <br>

    <div>
      {{ form.new_password1.errors }}
      <div>
        <label for="id_new_password1">새 비밀번호: </label>
        {{ form.new_password1 }}
      </div>
    </div>

      <div>
        {{ form.new_password2.errors }}
        <div>
          <label for="id_new_password2">새 비밀번호 재입력: </label>
          {{ form.new_password2 }}
        </div>
      </div>
  
    </div>

    <input type="submit" value="비밀번호 재설정하기">
</form>
</body>
</html>