.text-box {
    border-radius: 20px;
    padding: 20px;
    line-height: 1.6;
}

h1 {
    font-size: xx-large;
    margin-top: 20px;
    padding-left: 10px;
}

.header .top {
    justify-content: space-between;
}


.backbtn {
    background: none;
    border: none;
    padding: 0;
    margin-left: 10px;
}

.header {
    margin-bottom: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

p {
    font-size: small;
    color: #555555;
}

body{
    -ms-overflow-style: none;
    }
    ::-webkit-scrollbar {
    display: none;
}