/* header */

.header .top {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.header .top h1 {
    font-size: 30px;
    font-weight: 600;
}

.header .top .backbtn {
    left: 0;
    position: absolute;
}

.main form .profile {
    text-align: center;
    margin-bottom: 30px;
}

.main form .profile .profileimg {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    object-fit: cover; 
}

.profilebtn-wrapper {
    position: relative;
    display: inline-block;
}

.profilebtn {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

.profilebtn-wrapper label {
    position: absolute;
    display: inline-block;
    width: 36px;
    height: 36px;
    top: 56px;
    right: 0;
    background-image: url('../../img/profile_modify.svg');
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

form {
    padding: 0px 4px;
}

form>div {
    margin-bottom: 15px;
}

form>div>label {
    font-weight: 500;
    display: block;
    width: 100%;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

form>div>input,
form>div>div>input {
    font-size: 16px;
    box-shadow: 0px 0px 10px 0px #00000010;
    border-radius: 20px;
    padding: 15px 20px;
    outline: none;
    width: 100%;
    min-width: 306px;
    border: 1px solid #000;
}

form>.userPass {
    position: relative;
    margin-bottom: 20px;
}

form>.userPassre,
form>.userPass {
    position: relative;
}

.userPassre>div .box,
.userPass>div .box {
    position: absolute;
    bottom: 14px;
    right: 15px;
    display: flex;
    align-items: center;
}

.userPassre>div .box .delete, 
.userPass>div .box .delete {
    margin-right: 5px;
    margin-bottom: 1px;
}

form>button {
    width: 100%;
    height: 55px;
    background-color: var(--main);
    color: var(--white);
    border-radius: 20px;
    margin: 40px 0;
}